<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recovery Password</title>
<style>
    /* Styles for reset-password view */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
  background-image: linear-gradient(
  180deg,
  hsl(0deg 0% 100%) 0%,
  hsl(137deg 0% 100%) 16%,
  hsl(137deg 0% 100%) 23%,
  hsl(137deg 0% 100%) 29%,
  hsl(137deg 0% 100%) 34%,
  hsl(137deg 0% 100%) 39%,
  hsl(137deg 0% 100%) 43%,
  hsl(137deg 0% 100%) 48%,
  hsl(137deg 0% 100%) 52%,
  hsl(137deg 0% 100%) 57%,
  hsl(137deg 0% 100%) 61%,
  hsl(137deg 0% 100%) 66%,
  hsl(137deg 0% 100%) 71%,
  hsl(137deg 0% 100%) 77%,
  hsl(137deg 0% 100%) 84%,
  hsl(0deg 0% 100%) 100%
);
    overflow: hidden;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


form {
    width: 100%;
    max-width: 350px;
    margin: auto;
    padding: 1em;
    position: absolute;
    top: 10em;
}


form > div {
    padding: .5em 0;
    width: 100%;

}

form  label {
    display: block;
    margin-bottom: 0.5em;
}

form h3 {
    margin-bottom: 1em;
    text-align: center;
    font-weight: 400;
}

input {
    padding: .5em;
    width: 100%;
    border: 1px solid #ccc;
}

input:focus {
    outline: 1.7px solid #ccc;
}

button {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    cursor: pointer;
}

small {
    color: #ef233c;

}

.container-fluid {
    width: 100vw;
    height: 100vh ;
}

.container {
    max-width: 800px;
    margin: auto;
    width: 100%;
    /* border: 2px solid red; */
    height: 100%;
    position: relative;
}

.form-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid purple; */
}

.card {
    background: white;
}
</style>

</head>

<body>
    
    <div class="container-fluid">

        <div class="container">
            
            <div class="form-wrapper">
                <form action="" method="post" class="card" onsubmit="return validate()" >
                    <h3> Recovery Password </h3>
                    
                    <div>
                        <label for="newPassword"> New Password</label>
                        <input type="password" name="newPassword" id="newPassword"  >
                        
                        <!-- for displaying error msg -->
                        <small> </small>
                    </div>
                     <div>
                        <label for="confirmPassword"> Confirm Password</label>
                        <input type="password" name="confirmPassword" id="confirmPassword"  >

                        <!-- for displaying error msg -->
                        <small>  </small>
                    </div>
                    <button type="submit"> update </button>
                </form>
            </div>
    
        </div>
    </div>



    <script>

/**
 * Validate form input in the reset-password template
 * @returns boolean
 */
function validate() {
  const passwordRegExp = /^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{6,}$/;

  let newPassword = document.forms[0]["newPassword"].value;
  let confirmPassword = document.forms[0]["confirmPassword"].value;

  const errorMsgBox_1 = document.querySelector(
    "form > div:nth-of-type(1) small"
  );
  const errorMsgBox_2 = document.querySelector(
    "form > div:nth-of-type(2) small"
  );

  const errors = {};

  if (!passwordRegExp.test(newPassword.trim())) {
    errorMsgBox_1.innerHTML =
      "Password must atleast be of length 6 char(s) madeup of char(s), digit(s)";
    return false;
  } else {
    errorMsgBox_1.innerHTML = "";
  }

  if (!(!!confirmPassword.trim() && confirmPassword === newPassword)) {
    errorMsgBox_2.innerHTML = "Passwords don't match";
    return false;
  } else {
    errorMsgBox_2.innerHTML = "";
  }

  return true
}

    </script>
</body>
</html>